# Import all modules and load data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os


pd.set_option('display.max_columns', 90)

In [2]:
loan_data = pd.read_csv('accepted_2007_to_2018Q4_Copy.csv')
loan_data.shape

/Users/jjobes/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(29999, 151)

# Remove columns with no data

Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types

In [3]:
# find missing values for each column


missing = pd.concat([loan_data.isnull().sum(), 100 * loan_data.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by='count')

                         count      %
id                           0    0.0
pct_tl_nvr_dlq               0    0.0
tot_cur_bal                  0    0.0
tot_coll_amt                 0    0.0
acc_now_delinq               0    0.0
...                        ...    ...
sec_app_open_acc         29999  100.0
sec_app_mort_acc         29999  100.0
sec_app_inq_last_6mths   29999  100.0
sec_app_fico_range_high  29999  100.0
sec_app_revol_util       29999  100.0

[151 rows x 2 columns]

In [4]:
# define list of columns with a large amount of missing values

large_null_columns = missing[missing['%'] > 0.99] 
large_null_columns.reset_index(inplace=True)
large_null_columns.columns

columns_to_drop = list(large_null_columns['index'])
print(columns_to_drop)

['member_id', 'emp_title', 'emp_length', 'desc', 'mths_since_last_delinq', 'mths_since_last_record', 'next_pymnt_d', 'mths_since_last_major_derog', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'bc_util', 'mo_sin_old_il_acct', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_tl_120dpd_2m', 'percent_bc_gt_75', 'revol_bal_joint', 'sec_app_fico_range_low', 'sec_app_fico_range_high', 'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths', 'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util', 'sec_app_open_act_il', 'sec_app_num_rev_accts', 'sec_app_chargeoff_within_12_mths', 'sec_app_collections_12_mths_ex_med', 'sec_app_mths_since_last_major_derog', 'hardship_type', 'hardship_reason', 'hardship_status', 'deferral_term', 'hardship_amount', 'hardship_start_date', 'hardship_end_date', 'payment_plan_start_date', 'hardship_length', 'hardship_dpd', 'hardship_loan_status', 'orig_projected_additional_accrued_interest', 'hardship_payoff_balance_amount', 'hardship_last_payment_amount', 'debt_settlement_flag_date', 'settlement_status', 'settlement_date', 'settlement_amount', 'settlement_percentage', 'settlement_term']

In [5]:
# drop these columns with no data

new_data = loan_data.drop(columns_to_drop, axis=1)
new_data.shape

(29999, 86)

# Reset Index to loan id

In [6]:
# set index to something useful

new_data.set_index('id', inplace=True)

# Split dataframe into numeric and non-numeric

Split data into numeric and non_numeric valued dataframes

In [10]:
numeric_df = new_data.select_dtypes(np.number)

numeric_columns = list(numeric_df)


non_numeric_df = new_data.drop(numeric_columns, axis=1)

non_numeric_df_columns = list(non_numeric_df)

In [11]:
numeric_df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,fico_range_low,fico_range_high,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,policy_code,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
68407277,3600,3600,3600,13.99,123.03,55000.0,5.91,0,675,679,1,7,0,2765,29.7,13,0.00,0.00,4421.723917,4421.72,3600.00,821.72,0.0,0.0,0.0,122.67,564,560,0,1,0,722,144904,9300,4,20701,1506.0,0,0,128,3,3,1,4.0,2,2,4,2,5,3,4,9,4,7,0,0,3,76.9,0,0,178050,7746,2400,13734
68355089,24700,24700,24700,11.99,820.28,65000.0,16.06,1,715,719,4,22,0,21470,19.2,38,0.00,0.00,25679.660000,25679.66,24700.00,979.66,0.0,0.0,0.0,926.35,699,695,0,1,0,0,204396,111800,4,9733,57830.0,0,0,192,2,2,4,2.0,0,5,5,13,17,6,20,27,5,22,0,0,2,97.4,0,0,314017,39475,79300,24667
68341763,20000,20000,20000,10.78,432.66,63000.0,10.78,0,695,699,0,6,0,7869,56.2,18,0.00,0.00,22705.924290,22705.92,20000.00,2705.92,0.0,0.0,0.0,15813.30,704,700,0,1,0,0,189699,14000,6,31617,2737.0,0,0,184,14,14,5,101.0,0,2,3,2,4,6,4,7,3,6,0,0,0,100.0,0,0,218418,18696,6200,14877
66310712,35000,35000,35000,14.85,829.90,110000.0,17.06,0,785,789,0,13,0,7802,11.6,17,15897.65,15897.65,31464.010000,31464.01,19102.35,12361.66,0.0,0.0,0.0,829.90,679,675,0,1,0,0,301500,67300,2,23192,54962.0,0,0,87,2,2,1,2.0,0,4,5,8,10,2,10,13,5,13,0,0,1,100.0,0,0,381215,52226,62500,18000
68476807,10400,10400,10400,22.45,289.91,104433.0,25.37,1,695,699,3,12,0,21929,64.5,35,0.00,0.00,11740.500000,11740.50,10400.00,1340.50,0.0,0.0,0.0,10128.96,704,700,0,1,0,0,331730,34000,10,27644,4567.0,0,0,210,4,4,6,4.0,0,4,6,5,9,10,7,19,6,12,0,0,4,96.6,0,0,439570,95768,20300,88097

In [12]:
non_numeric_df.head()

,term,grade,sub_grade,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,earliest_cr_line,initial_list_status,last_pymnt_d,last_credit_pull_d,application_type,hardship_flag,disbursement_method,debt_settlement_flag
id,,,,,,,,,,,,,,,,,,,,,
68407277,36 months,C,C4,MORTGAGE,Not Verified,15-Dec,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt consolidation,190xx,PA,3-Aug,w,19-Jan,19-Mar,Individual,N,Cash,N
68355089,36 months,C,C1,MORTGAGE,Not Verified,15-Dec,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,small_business,Business,577xx,SD,Dec-99,w,16-Jun,19-Mar,Individual,N,Cash,N
68341763,60 months,B,B4,MORTGAGE,Not Verified,15-Dec,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,home_improvement,NaN,605xx,IL,Aug-00,w,17-Jun,19-Mar,Joint App,N,Cash,N
66310712,60 months,C,C5,MORTGAGE,Source Verified,15-Dec,Current,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt consolidation,076xx,NJ,8-Sep,w,19-Feb,19-Mar,Individual,N,Cash,N
68476807,60 months,F,F1,MORTGAGE,Source Verified,15-Dec,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,major_purchase,Major purchase,174xx,PA,Jun-98,w,16-Jul,18-Mar,Individual,N,Cash,N

In [15]:
numeric_df.dtypes.value_counts()
numeric_df.shape

(29999, 64)

In [17]:
non_numeric_df.dtypes.value_counts()
non_numeric_df.shape

(29999, 21)

# Review numeric dataframe

In [18]:
numeric_df.describe()

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,fico_range_low,fico_range_high,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,policy_code,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,29999.000000,29999.000000,29999.000000,29999.000000,29999.000000,2.999900e+04,29998.000000,29999.000000,29999.000000,29999.000000,29999.000000,29999.000000,29999.000000,29999.000000,29984.000000,29999.000000,29999.000000,29999.000000,29999.000000,29999.000000,29999.000000,29999.000000,2.999900e+04,29999.000000,29999.000000,29999.000000,29999.000000,29999.000000,29999.000000,29999.0,29999.000000,29999.000000,2.999900e+04,29999.000000,29999.000000,29999.000000,29714.000000,29999.000000,29999.000000,29999.000000,29999.000000,29999.000000,29999.000000,29723.000000,29999.000000,29999.000000,29999.000000,29999.000000,29999.000000,29999.000000,29999.000000,29999.000000,29999.000000,29999.000000,29999.000000,29999.000000,29999.000000,29999.000000,29999.000000,29999.000000,2.999900e+04,29999.000000,29999.000000,29999.000000
mean,15000.318344,15000.318344,14992.248908,12.242534,434.339515,7.888676e+04,19.408835,0.337011,694.866329,698.866496,0.604353,12.101137,0.240075,17378.464715,51.690928,25.461315,1000.696043,1000.072461,15001.064742,14993.273176,12016.414316,2750.998200,2.179053e+00,231.473155,41.286640,4216.472136,677.288810,661.656055,0.023334,1.0,0.004900,274.673056,1.429451e+05,34692.337378,4.855595,13252.029901,10502.955442,0.008734,11.587086,185.777059,13.211507,7.553185,1.645555,23.991757,0.538451,3.721724,5.680256,4.825994,7.981866,8.871896,8.462315,14.667722,5.731624,12.052235,0.003300,0.089436,2.255475,93.925818,0.134738,0.068802,1.780269e+05,53835.934464,22662.980033,45894.863829
std,8709.659995,8709.659995,8704.031994,4.209396,248.658024,8.537145e+04,10.507178,0.891299,31.194369,31.195174,0.888344,5.750331,0.645234,22564.015374,24.241345,12.134515,3012.649685,3010.641706,9766.227565,9760.240853,8367.505518,2772.138531,1.450583e+01,974.852343,174.993972,6441.603183,79.384708,126.778695,0.165300,0.0,0.071715,2181.606994,1.566171e+05,34182.537226,3.303595,15880.610380,15678.814831,0.098950,713.976242,96.541710,17.066413,8.855886,1.928312,31.614545,1.373040,2.331207,3.360008,3.072364,4.796534,7.582831,4.776675,8.281632,3.340622,5.733512,0.058504,0.490494,1.909322,8.901241,0.382870,0.439332,1.748295e+05,49376.856963,22354.588352,44959.295929
min,1000.000000,1000.000000,950.000000,5.320000,30.540000,0.000000e+00,0.000000,0.000000,660.000000,664.000000,0.000000,1.000000,0.000000,0.000000,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-2.000000e-10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,1.000000,0.000000,0.000000,0.000000,12.500000,0.000000,0.000000,2.500000e+03,0.000000,0.000000,0.000000
25%,8000.000000,8000.000000,8000.000000,9.170000,255.030000,4.800000e+04,12.700000,0.000000,670.000000,674.000000,0.000000,8.000000,0.000000,6204.000000,33.500000,17.000000,0.000000,0.000000,7345.478359,7341.745000,5600.000000,893.830000,0.000000e+00,0.000000,0.000000,329.170000,629.000000,625.000000,0.000000,1.0,0.000000,0.000000,3.204850e+04,14600.000000,2.000000,3246.000000,1507.000000,0.000000,0.000000,120.000000,3.000000,3.000000,0.000000,6.000000,0.000000,2.000000,3.000000,3.000000,5.000000,4.000000,5.000000,9.000000,3.000000,8.000000,0.000000,0.000000,1.000000,90.900000,0.000000,0.000000,5.320450e+04,23416.000000,8000.000000,16934.500000
50%,13950.000000,13950.000000,13875.000000,11.990000,378.150000,6.682000e+04,18.890000,0.000000,685.000000,689.000000,0.000000,11.000000,0.000000,11837.000000,51.500000,24.000000,0.000000,0.000000,12816.558860,12808.300000,10000.000000,1784.230000,0.000000e+00,0.000000,0.000000,758.610000,694.000000,690.000000,0.000000,1.0,0.000000,0.000000,8.305000e+04,25500.000000,4.000000,7515.000000,4946.500000,0.000000,0.000000,168.000000,8.000000,5.000000,1.000000,13.000000,0.000000,3.000000,5.000000,4.000000,7.000000,7.000000,8.000000,13.000000,5.000000,11.000000,0.000000,0.000000,2.000000,97.400000,0.000000,0.000000,1.165930e+05,41046.000000,15700.000000,35167.000000
75%,20000.000000,20000.000000,20000.000000,14.480000,574.695000,9.500000e+04,25.670000,0.000000,710.000000,714.000000,1.000000,15.000000,0.000000,21102.000000,70.200000,32.000000,0.000000,0.000000,20776.256940,20769.605000,16300.000000,3658.930000,0.000000e+00,0.000000,0.000000,5939.405000,734.000000,730.000000,0.000000,1.0,0.000000,0.000000,2.116875e+05,43200.000000,7.000000,18027.000000,12901.750000,0.000000,0.000000,237.000000,16.000000,9.000000,3.000000,28.000000,0.000000,5.000000,7.000000,6.000000,10.000000,12.000000,11.000000,19.000000,7.000000,15.000000,0.000000,0.000000,3.000000,100.000000,0.000000,0.000000,2.577220e+05,68303.500000,29600.000000,61658.000000
max,35000.000000,35000.000000,35000.000000,28.990000,1354.660000,8.700000e+06,999.000000,15.000000,845.000000,850.000000,5.000000,67.000000,23.000000,647310.000000,145.800000,111.000000,22692.220000,22692.220000,57291.001150,57291.000000,35000.000000,24125.830000,7.248000e+02,23876.710000,4297.807800,36127.510000,850.000000,845.000000,4.000000,1.0,2.000000,140842.000000,2.723187e+06,755900.000000,64.000000,334017.000000,263953.000000,3.000000,88216.000000,791.000000,192.000000,192.000000,25.000000,524.000000,32.000000,26.000000,42.000000,35.000000,44.000000,89.000000,66.000000,80.000000,43.000000,67.000000,2.000000,13.000000,30.000000,100.000000,8.000000,22.000000,2.885999e+06,878659.000000,303000.000000,657179.000000

In [22]:
list(numeric_df.columns)

['loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'int_rate',
 'installment',
 'annual_inc',
 'dti',
 'delinq_2yrs',
 'fico_range_low',
 'fico_range_high',
 'inq_last_6mths',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_amnt',
 'last_fico_range_high',
 'last_fico_range_low',
 'collections_12_mths_ex_med',
 'policy_code',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'total_rev_hi_lim',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit']

In [23]:
for i in list(numeric_df.columns):
    print(numeric_df[i].value_counts())

10000    2030
15000    1733
12000    1664
20000    1621
35000    1351
         ...
32025       1
30550       1
26775       1
29525       1
31450       1
Name: loan_amnt, Length: 1206, dtype: int64
10000    2030
15000    1733
12000    1664
20000    1621
35000    1351
         ...
32025       1
30550       1
26775       1
29525       1
31450       1
Name: funded_amnt, Length: 1206, dtype: int64
10000    1992
15000    1667
12000    1596
20000    1510
35000    1087
         ...
33075       1
6175        1
2125        1
28850       1
32800       1
Name: funded_amnt_inv, Length: 1251, dtype: int64
11.99    2016
9.17     1733
10.64    1547
9.76     1488
11.22    1436
         ...
26.06      13
26.99      10
28.99       9
27.49       7
27.99       5
Name: int_rate, Length: 64, dtype: int64
318.79    148
315.12    132
325.69    126
332.10    125
321.55    124
         ...
476.60      1
773.18      1
424.50      1
154.08      1
31.00       1
Name: installment, Length: 8203, dtype: int64
60000.0      1189
50000.0      1041
70000.0       899
65000.0       895
75000.0       873
             ...
135562.0        1
2300000.0       1
48225.0         1
33888.0         1
100318.0        1
Name: annual_inc, Length: 3014, dtype: int64
17.44    30
13.20    26
18.15    24
20.16    24
19.66    22
         ..
39.97     1
90.00     1
34.51     1
1.73      1
2.33      1
Name: dti, Length: 3900, dtype: int64
0     23897
1      4017
2      1205
3       437
4       211
5       105
6        37
7        35
8        19
9        12
10        9
11        6
13        5
14        2
15        1
12        1
Name: delinq_2yrs, dtype: int64
660    2918
665    2750
670    2684
675    2428
680    2278
685    1942
690    1911
695    1789
700    1663
705    1458
710    1288
715    1147
720     934
725     752
730     638
740     464
735     427
745     330
750     322
755     307
760     239
765     222
770     179
775     168
780     138
785     113
790     102
795      87
800      77
805      75
810      64
815      35
820      23
825      18
835      12
830       7
845       5
840       5
Name: fico_range_low, dtype: int64
664    2918
669    2750
674    2684
679    2428
684    2278
689    1942
694    1911
699    1789
704    1663
709    1458
714    1288
719    1147
724     934
729     752
734     638
744     464
739     427
749     330
754     322
759     307
764     239
769     222
774     179
779     168
784     138
789     113
794     102
799      87
804      77
809      75
814      64
819      35
824      23
829      18
839      12
834       7
850       5
844       5
Name: fico_range_high, dtype: int64
0    17783
1     8071
2     2847
3      923
4      279
5       96
Name: inq_last_6mths, dtype: int64
10    2640
9     2615
8     2407
11    2299
12    2074
7     2069
13    1919
6     1732
14    1625
15    1395
5     1198
16    1137
17    1112
18     852
4      747
19     718
20     587
21     474
22     396
3      322
23     316
24     245
25     192
26     153
27     138
28      98
2       79
29      76
30      75
31      56
32      51
33      38
34      25
35      25
36      17
38      15
37      14
39      13
43       8
40       8
1        7
41       6
45       5
44       5
42       4
46       3
55       2
58       1
52       1
53       1
51       1
65       1
67       1
47       1
Name: open_acc, dtype: int64
0     24551
1      4397
2       708
3       195
4        71
5        32
6        19
8         8
7         6
9         4
12        2
11        2
10        2
15        1
23        1
Name: pub_rec, dtype: int64
0        105
5752       7
4055       7
9998       7
10082      7
        ...
15227      1
17327      1
19374      1
38454      1
13715      1
Name: revol_bal, Length: 20178, dtype: int64
0.0      114
48.0      81
61.0      78
44.0      75
52.0      70
        ...
103.9      1
106.4      1
105.9      1
102.5      1
137.2      1
Name: revol_util, Length: 1056, dtype: int64
20     1120
23     1099
24     1094
25     1089
19     1088
       ...
105       2
97        1
93        1
94        1
111       1
Name: total_acc, Length: 92, dtype: int64
0.00        26519
6438.14        15
5116.09        13
14679.11       13
8387.99        13
            ...
1218.60         1
7707.82         1
8673.90         1
1118.04         1
4791.79         1
Name: out_prncp, Length: 2611, dtype: int64
0.00        26519
6438.14        14
8527.14        12
5116.09        12
6290.64        12
            ...
12782.84        1
11798.05        1
7968.62         1
8530.73         1
8559.08         1
Name: out_prncp_inv, Length: 2701, dtype: int64
16257.52756    15
11471.31365    14
11570.22429    14
11817.24973    13
13510.12859    13
               ..
13754.29331     1
15108.04000     1
32244.56000     1
17459.79493     1
13644.75537     1
Name: total_pymnt, Length: 28148, dtype: int64
16257.53    19
11570.22    14
13510.13    13
11817.25    13
11471.31    13
            ..
17649.07     1
9413.43      1
17337.28     1
22680.94     1
16384.00     1
Name: total_pymnt_inv, Length: 28017, dtype: int64
10000.00    1551
15000.00    1199
12000.00    1146
20000.00    1110
5000.00      908
            ...
489.19         1
2246.48        1
3157.37        1
8490.52        1
2560.00        1
Name: total_rec_prncp, Length: 8905, dtype: int64
0.00       25
1257.53    19
1471.31    14
1570.22    14
1607.55    13
           ..
1850.83     1
2736.77     1
3775.23     1
2530.55     1
2759.14     1
Name: total_rec_int, Length: 27375, dtype: int64
0.00      28390
15.00       340
30.00        59
45.00        33
15.00         8
          ...
25.21         1
133.89        1
189.00        1
37.62         1
34.49         1
Name: total_rec_late_fee, Length: 892, dtype: int64
0.00       26287
300.00        15
150.00        14
250.00        14
50.00         14
           ...
406.84         1
750.32         1
1474.00        1
1607.15        1
1217.78        1
Name: recoveries, Length: 3516, dtype: int64
0.0000      26288
36.0000        13
54.0000        13
27.0000        11
45.0000        10
            ...
488.0718        1
860.0238        1
403.6446        1
476.5950        1
345.7800        1
Name: collection_recovery_fee, Length: 3550, dtype: int64
50.00       104
100.00       50
328.43       39
346.47       36
277.18       34
           ...
2146.76       1
3917.50       1
19706.27      1
1701.80       1
27190.23      1
Name: last_pymnt_amnt, Length: 22257, dtype: int64
704    983
694    977
719    976
724    963
709    956
      ...
834     42
839     27
844      8
850      4
0        2
Name: last_fico_range_high, Length: 72, dtype: int64
700    983
690    977
715    976
720    963
705    956
      ...
825     65
830     42
835     27
840      8
845      4
Name: last_fico_range_low, Length: 71, dtype: int64
0    29353
1      604
2       32
3        8
4        2
Name: collections_12_mths_ex_med, dtype: int64
1    29999
Name: policy_code, dtype: int64
0    29856
1      139
2        4
Name: acc_now_delinq, dtype: int64
0       24972
50         71
150        39
60         38
100        36
        ...
937         1
3000        1
985         1
1017        1
1863        1
Name: tot_coll_amt, Length: 2047, dtype: int64
15740     5
27783     4
12216     4
7441      4
11457     4
         ..
75920     1
67732     1
346268    1
16541     1
44890     1
Name: tot_cur_bal, Length: 28212, dtype: int64
15500     115
11000     103
14000     103
14500     101
12000      99
         ...
390900      1
145650      1
177900      1
9950        1
139028      1
Name: total_rev_hi_lim, Length: 2374, dtype: int64
3     4155
4     4028
5     3712
2     3684
6     2915
1     2677
7     2367
8     1676
0     1144
9     1116
10     797
11     543
12     382
13     242
14     184
15     105
16      68
17      61
18      41
19      27
20      21
22      12
21      12
23       7
25       7
24       5
26       3
27       2
50       1
40       1
64       1
32       1
29       1
31       1
Name: acc_open_past_24mths, dtype: int64
2683     9
2545     9
4152     9
1401     9
5389     9
        ..
7034     1
29559    1
15214    1
27492    1
28774    1
Name: avg_cur_bal, Length: 18113, dtype: int64
0.0        596
3000.0      28
5000.0      26
2000.0      24
1500.0      23
          ...
6086.0       1
16561.0      1
27155.0      1
8755.0       1
71597.0      1
Name: bc_open_to_buy, Length: 15718, dtype: int64
0    29753
1      231
2       14
3        1
Name: chargeoff_within_12_mths, dtype: int64
0       29879
53          4
62          4
30          3
126         2
        ...
267         1
571         1
667         1
2730        1
248         1
Name: delinq_amnt, Length: 104, dtype: int64
133    205
136    197
132    189
121    180
134    179
      ...
11       1
542      1
624      1
608      1
492      1
Name: mo_sin_old_rev_tl_op, Length: 607, dtype: int64
2      2535
1      2353
3      2169
4      2012
5      1879
       ...
145       1
161       1
124       1
162       1
123       1
Name: mo_sin_rcnt_rev_tl_op, Length: 160, dtype: int64
2      3566
3      3317
4      3064
1      2970
5      2509
       ...
133       1
180       1
116       1
131       1
95        1
Name: mo_sin_rcnt_tl, Length: 112, dtype: int64
0     11939
1      5274
2      4568
3      3333
4      2208
5      1351
6       679
7       318
8       147
9        94
10       34
11       17
12       15
14        6
13        6
15        4
21        2
25        1
18        1
17        1
16        1
Name: mort_acc, dtype: int64
2.0      1732
3.0      1463
4.0      1413
5.0      1365
6.0      1297
         ...
207.0       1
325.0       1
212.0       1
369.0       1
224.0       1
Name: mths_since_recent_bc, Length: 262, dtype: int64
0     22520
1      3985
2      1611
3       758
4       415
5       254
6       149
7       105
8        69
9        33
10       27
11       22
12       21
13        9
14        5
15        4
18        3
17        3
26        2
23        1
25        1
32        1
16        1
Name: num_accts_ever_120_pd, dtype: int64
3     6287
2     6094
4     4917
5     3382
1     3367
6     2084
7     1263
8      797
0      591
9      475
10     292
11     167
12     103
13      60
14      47
15      24
16      18
17      15
18       5
19       5
24       1
20       1
21       1
25       1
23       1
26       1
Name: num_actv_bc_tl, dtype: int64
4     4640
3     4276
5     4271
6     3521
2     2745
7     2653
8     1914
9     1399
10    1017
1     1005
11     694
12     521
13     334
14     231
15     188
16     135
0      107
17      99
18      56
19      52
20      30
21      24
23      19
22      19
24      18
25       8
26       5
29       5
30       3
35       2
27       2
28       2
31       2
42       1
33       1
Name: num_actv_rev_tl, dtype: int64
3     5166
4     4860
2     4153
5     3960
6     2924
7     2061
1     1968
8     1426
9      979
10     677
11     475
12     313
0      282
13     209
14     157
15     120
16      72
17      44
19      32
18      29
20      28
22      21
21      14
23       6
24       5
28       4
26       4
27       3
25       2
29       2
35       1
32       1
31       1
Name: num_bc_sats, dtype: int64
5     3142
6     3035
4     2848
7     2769
8     2498
3     2303
9     2194
10    1739
2     1540
11    1502
12    1168
13     961
14     834
15     662
1      579
16     495
17     357
18     252
19     231
20     184
21     151
22     118
24      74
23      64
0       62
26      43
25      41
27      36
28      28
29      15
30      14
31      14
32      10
34       7
33       7
36       6
35       3
38       3
41       2
43       2
37       2
42       1
39       1
44       1
40       1
Name: num_bc_tl, dtype: int64
4     2507
3     2445
5     2434
6     2270
2     2156
      ...
61       1
82       1
74       1
89       1
86       1
Name: num_il_tl, Length: 72, dtype: int64
6     3213
5     3071
7     3043
8     2777
4     2603
9     2401
10    1923
3     1909
11    1576
12    1346
13    1069
2      923
14     841
15     669
16     526
17     416
18     321
19     248
1      214
20     206
21     151
22     100
23      98
24      64
25      58
26      37
28      32
27      30
30      28
29      27
33      11
0       11
31      10
35       8
32       8
39       4
42       4
41       3
38       3
34       3
37       3
36       2
40       2
50       1
43       1
44       1
48       1
66       1
46       1
47       1
Name: num_op_rev_tl, dtype: int64
12    1743
9     1723
10    1723
11    1717
8     1651
      ...
74       1
75       1
76       1
77       1
71       1
Name: num_rev_accts, Length: 74, dtype: int64
4     4621
5     4254
3     4136
6     3521
7     2764
2     2667
8     1999
9     1428
10    1031
1      971
11     723
12     527
13     362
14     238
15     189
16     137
0      104
17      94
18      58
19      45
20      35
22      18
21      16
24      15
23      11
26      11
25      10
27       3
28       3
30       2
35       1
43       1
33       1
29       1
32       1
31       1
Name: num_rev_tl_bal_gt_0, dtype: int64
10    2634
9     2629
8     2425
11    2286
7     2087
12    2075
13    1921
6     1743
14    1627
15    1362
5     1233
16    1138
17    1106
18     843
4      757
19     705
20     586
21     466
22     391
3      329
23     322
24     239
25     185
26     145
27     136
28      93
2       80
29      78
30      75
31      56
32      49
33      37
34      26
35      23
36      17
37      15
38      14
39      12
40       9
43       8
1        7
44       5
41       5
45       5
46       3
42       3
55       2
65       1
50       1
52       1
58       1
53       1
67       1
47       1
Name: num_sats, dtype: int64
0    29902
1       95
2        2
Name: num_tl_30dpd, dtype: int64
0     28257
1      1313
2       246
3        67
4        49
5        21
7        13
8        12
6         8
10        5
13        3
11        2
9         2
12        1
Name: num_tl_90g_dpd_24m, dtype: int64
1     7170
2     6670
3     4932
0     4916
4     3055
5     1569
6      750
7      431
8      222
9      122
10      60
11      45
12      20
13      14
14       8
15       6
19       2
18       2
16       2
25       1
30       1
20       1
Name: num_tl_op_past_12m, dtype: int64
100.0    14277
90.0       398
92.3       345
87.5       341
90.9       332
         ...
91.6         1
54.8         1
68.1         1
61.3         1
52.4         1
Name: pct_tl_nvr_dlq, Length: 367, dtype: int64
0    26311
1     3399
2      241
3       38
4        7
8        1
6        1
5        1
Name: pub_rec_bankruptcies, dtype: int64
0     28736
1       873
2       218
3        81
4        38
5        21
6        13
8         5
7         5
10        3
9         3
12        1
11        1
22        1
Name: tax_liens, dtype: int64
13800     16
10500     13
13000     13
18500     13
20500     13
          ..
33093      1
104774     1
67924      1
69975      1
589824     1
Name: tot_hi_cred_lim, Length: 26665, dtype: int64
0        9
15740    5
39777    4
39442    4
17953    4
        ..
11959    1
27856    1
30396    1
91838    1
67583    1
Name: total_bal_ex_mort, Length: 26084, dtype: int64
0        306
5000     254
6000     229
7000     219
4000     214
        ...
31250      1
14243      1
85900      1
5975       1
45050      1
Name: total_bc_limit, Length: 1609, dtype: int64
0         3143
10000      160
15000      150
20000      109
25000       94
          ...
68155        1
12860        1
224824       1
21056        1
57308        1
Name: total_il_high_credit_limit, Length: 21873, dtype: int64

In [24]:
# all loan amounts = funded amount. No need to have duplicate data so drop funded amount and the column. 
# funded_amount_inv doesnt always equal loan_amount so I will leave this column

#numeric_df['funded_amnt'].describe()

#numeric_df['diff_loan_funded'] = numeric_df['loan_amnt'] - numeric_df['funded_amnt']
#numeric_df['diff_loan_funded'].describe()

del numeric_df['funded_amnt']

In [25]:
numeric_df.shape

(29999, 63)

In [26]:
numeric_df.head()

,loan_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,fico_range_low,fico_range_high,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,policy_code,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
68407277,3600,3600,13.99,123.03,55000.0,5.91,0,675,679,1,7,0,2765,29.7,13,0.00,0.00,4421.723917,4421.72,3600.00,821.72,0.0,0.0,0.0,122.67,564,560,0,1,0,722,144904,9300,4,20701,1506.0,0,0,128,3,3,1,4.0,2,2,4,2,5,3,4,9,4,7,0,0,3,76.9,0,0,178050,7746,2400,13734
68355089,24700,24700,11.99,820.28,65000.0,16.06,1,715,719,4,22,0,21470,19.2,38,0.00,0.00,25679.660000,25679.66,24700.00,979.66,0.0,0.0,0.0,926.35,699,695,0,1,0,0,204396,111800,4,9733,57830.0,0,0,192,2,2,4,2.0,0,5,5,13,17,6,20,27,5,22,0,0,2,97.4,0,0,314017,39475,79300,24667
68341763,20000,20000,10.78,432.66,63000.0,10.78,0,695,699,0,6,0,7869,56.2,18,0.00,0.00,22705.924290,22705.92,20000.00,2705.92,0.0,0.0,0.0,15813.30,704,700,0,1,0,0,189699,14000,6,31617,2737.0,0,0,184,14,14,5,101.0,0,2,3,2,4,6,4,7,3,6,0,0,0,100.0,0,0,218418,18696,6200,14877
66310712,35000,35000,14.85,829.90,110000.0,17.06,0,785,789,0,13,0,7802,11.6,17,15897.65,15897.65,31464.010000,31464.01,19102.35,12361.66,0.0,0.0,0.0,829.90,679,675,0,1,0,0,301500,67300,2,23192,54962.0,0,0,87,2,2,1,2.0,0,4,5,8,10,2,10,13,5,13,0,0,1,100.0,0,0,381215,52226,62500,18000
68476807,10400,10400,22.45,289.91,104433.0,25.37,1,695,699,3,12,0,21929,64.5,35,0.00,0.00,11740.500000,11740.50,10400.00,1340.50,0.0,0.0,0.0,10128.96,704,700,0,1,0,0,331730,34000,10,27644,4567.0,0,0,210,4,4,6,4.0,0,4,6,5,9,10,7,19,6,12,0,0,4,96.6,0,0,439570,95768,20300,88097

# Review non-numeric dataframe

In [28]:
non_numeric_df.head()

,term,grade,sub_grade,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,earliest_cr_line,initial_list_status,last_pymnt_d,last_credit_pull_d,application_type,hardship_flag,disbursement_method,debt_settlement_flag
id,,,,,,,,,,,,,,,,,,,,,
68407277,36 months,C,C4,MORTGAGE,Not Verified,15-Dec,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt consolidation,190xx,PA,3-Aug,w,19-Jan,19-Mar,Individual,N,Cash,N
68355089,36 months,C,C1,MORTGAGE,Not Verified,15-Dec,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,small_business,Business,577xx,SD,Dec-99,w,16-Jun,19-Mar,Individual,N,Cash,N
68341763,60 months,B,B4,MORTGAGE,Not Verified,15-Dec,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,home_improvement,NaN,605xx,IL,Aug-00,w,17-Jun,19-Mar,Joint App,N,Cash,N
66310712,60 months,C,C5,MORTGAGE,Source Verified,15-Dec,Current,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt consolidation,076xx,NJ,8-Sep,w,19-Feb,19-Mar,Individual,N,Cash,N
68476807,60 months,F,F1,MORTGAGE,Source Verified,15-Dec,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,major_purchase,Major purchase,174xx,PA,Jun-98,w,16-Jul,18-Mar,Individual,N,Cash,N

In [29]:
non_numeric_df.shape

(29999, 21)

In [30]:
list(non_numeric_df.columns)

['term',
 'grade',
 'sub_grade',
 'home_ownership',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'url',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'earliest_cr_line',
 'initial_list_status',
 'last_pymnt_d',
 'last_credit_pull_d',
 'application_type',
 'hardship_flag',
 'disbursement_method',
 'debt_settlement_flag']

In [31]:
for i in list(non_numeric_df.columns):
    print(non_numeric_df[i].value_counts())

 36 months    20662
 60 months     9337
Name: term, dtype: int64
B    9115
C    8672
A    5246
D    4143
E    2098
F     604
G     121
Name: grade, dtype: int64
C1    2018
B4    1986
B3    1930
B5    1853
C4    1810
C2    1776
C3    1749
B2    1734
B1    1612
A5    1475
C5    1319
A1    1196
D1    1150
A4    1006
D2     903
A2     807
D3     778
A3     762
D4     719
D5     593
E1     538
E2     507
E3     441
E4     338
E5     274
F1     195
F2     147
F3     124
F4      71
F5      67
G1      41
G2      37
G3      21
G4      13
G5       9
Name: sub_grade, dtype: int64
MORTGAGE    14659
RENT        11846
OWN          3493
ANY             1
Name: home_ownership, dtype: int64
Source Verified    12094
Verified            9189
Not Verified        8716
Name: verification_status, dtype: int64
15-Dec    29999
Name: issue_d, dtype: int64
Fully Paid            21085
Charged Off            5413
Current                3256
Late (31-120 days)      154
In Grace Period          72
Late (16-30 days)        19
Name: loan_status, dtype: int64
n    29996
y        3
Name: pymnt_plan, dtype: int64
https://lendingclub.com/browse/loanDetail.action?loan_id=66462424    1
https://lendingclub.com/browse/loanDetail.action?loan_id=68414567    1
https://lendingclub.com/browse/loanDetail.action?loan_id=67849218    1
https://lendingclub.com/browse/loanDetail.action?loan_id=67377515    1
https://lendingclub.com/browse/loanDetail.action?loan_id=66525116    1
                                                                    ..
https://lendingclub.com/browse/loanDetail.action?loan_id=67438251    1
https://lendingclub.com/browse/loanDetail.action?loan_id=68406558    1
https://lendingclub.com/browse/loanDetail.action?loan_id=66320454    1
https://lendingclub.com/browse/loanDetail.action?loan_id=68102322    1
https://lendingclub.com/browse/loanDetail.action?loan_id=66443884    1
Name: url, Length: 29999, dtype: int64
debt_consolidation    16984
credit_card            7526
home_improvement       1732
other                  1693
major_purchase          639
medical                 346
small_business          306
car                     276
vacation                185
moving                  177
house                   119
renewable_energy         16
Name: purpose, dtype: int64
Debt consolidation         16915
Credit card refinancing     7497
Home improvement            1717
Other                       1684
Major purchase               636
Medical expenses             344
Business                     304
Car financing                273
Vacation                     186
Moving and relocation        176
Home buying                  119
Green loan                    16
Name: title, dtype: int64
945xx    341
750xx    327
300xx    320
606xx    305
112xx    300
        ...
792xx      1
739xx      1
414xx      1
426xx      1
669xx      1
Name: zip_code, Length: 848, dtype: int64
CA    4136
TX    2501
NY    2394
FL    2109
IL    1146
GA    1076
NJ    1057
PA    1018
OH    1001
VA     929
NC     849
MI     795
MD     722
AZ     692
MA     687
CO     631
WA     617
MN     544
TN     530
IN     490
MO     469
CT     455
NV     413
WI     390
AL     383
SC     364
LA     360
OR     350
KY     303
OK     277
KS     273
AR     232
UT     171
NM     165
MS     151
NH     151
HI     141
ME     129
NE     126
RI     119
WV     111
ND      86
DE      80
MT      78
DC      71
AK      62
SD      58
WY      56
VT      51
Name: addr_state, dtype: int64
2-Aug     246
3-Sep     236
4-Sep     227
4-Aug     219
2-Sep     214
         ...
Jan-65      1
Dec-74      1
Oct-58      1
Mar-75      1
Aug-62      1
Name: earliest_cr_line, Length: 584, dtype: int64
w    24744
f     5255
Name: initial_list_status, dtype: int64
18-Dec    3733
19-Mar    2925
19-Jan    2177
19-Feb     899
17-Aug     742
17-Jan     726
17-Mar     698
17-Jun     678
17-May     674
17-Jul     643
16-Oct     637
18-Jan     636
18-Nov     631
17-Sep     630
16-Nov     625
18-Mar     625
16-Dec     619
16-Jul     616
17-Feb     615
18-Aug     614
17-Nov     603
17-Oct     601
17-Apr     596
18-Oct     596
17-Dec     587
18-Jul     586
16-Sep     576
18-Feb     574
18-Apr     560
16-Aug     555
18-Jun     537
18-Sep     522
16-Jun     492
18-May     482
16-May     451
16-Mar     433
16-Apr     363
16-Jan     331
16-Feb     311
15-Dec      77
Name: last_pymnt_d, dtype: int64
19-Mar    13062
18-Dec     2655
19-Jan     1679
19-Feb     1464
18-Jul      925
18-Nov      776
18-Oct      763
18-Aug      709
18-Sep      546
17-Feb      479
18-Mar      432
18-Jan      432
17-Oct      419
18-Apr      410
18-May      398
17-Jun      383
17-Nov      381
17-Sep      377
18-Feb      367
17-Aug      340
17-Dec      322
16-Oct      314
17-Apr      310
17-Jul      303
17-Mar      258
17-Jan      239
16-Dec      235
17-May      172
16-Nov      140
18-Jun      125
16-Jul       86
16-Aug       78
16-Jun       74
16-Feb       68
16-Apr       64
16-Jan       52
16-Mar       50
16-May       47
15-Dec       39
16-Sep       24
15-Nov        1
Name: last_credit_pull_d, dtype: int64
Individual    29785
Joint App       214
Name: application_type, dtype: int64
N    29995
Y        4
Name: hardship_flag, dtype: int64
Cash    29999
Name: disbursement_method, dtype: int64
N    29096
Y      903
Name: debt_settlement_flag, dtype: int64

In [32]:
# looks like purpose and title are the same thing. Lets see if they are

print(non_numeric_df['purpose'].isnull().sum())
print(non_numeric_df['title'].isnull().sum())

# purpose looks like the main catagory with no missing values
# are any contradictory? Need to investigate

0
132

In [33]:
purpose_labels = list(non_numeric_df['purpose'].value_counts().index)

purpose_labels

['debt_consolidation',
 'credit_card',
 'home_improvement',
 'other',
 'major_purchase',
 'medical',
 'small_business',
 'car',
 'vacation',
 'moving',
 'house',
 'renewable_energy']

In [34]:
title_labels = list(non_numeric_df['title'].value_counts().index)

title_labels

['Debt consolidation',
 'Credit card refinancing',
 'Home improvement',
 'Other',
 'Major purchase',
 'Medical expenses',
 'Business',
 'Car financing',
 'Vacation',
 'Moving and relocation',
 'Home buying',
 'Green loan']

In [25]:
# review with Tony
# filter new_data into each purpose catorgy then right for loop to confirm purpose matches title? seems like there is a better way

#for i in len(new_data):
#    if new_data['purpose'][0] == 'debt_consolidation' and new_data['title'][0] == 'Debt consolidation':
#    return True